<div class="text-center" style="color: rgb(46, 75, 96)">
<header class="bg-gradient-to-b top-0 p-2 w-full">
    <nav class="container flex flex-col sm:flex-row justify-between items-center">
        <div class="flex justify-center mb-2 sm:mb-0">
            <ul class="flex space-x-4 lg:pb-5">
                <li>
                    <a href="https://www.tiktok.com/@nonnamaria_oficial" class="text-brown hover:text-brown ms-5">
                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 32 32">
                            <path d="M16.656 1.029c1.637-0.025 3.262-0.012 4.886-0.025 0.054 2.031 0.878 3.859 2.189 5.213l-0.002-0.002c1.411 1.271 3.247 2.095 5.271 2.235l0.028 0.002v5.036c-1.912-0.048-3.71-0.489-5.331-1.247l0.082 0.034c-0.784-0.377-1.447-0.764-2.077-1.196l0.052 0.034c-0.012 3.649 0.012 7.298-0.025 10.934-0.103 1.853-0.719 3.543-1.707 4.954l0.02-0.031c-1.652 2.366-4.328 3.919-7.371 4.011l-0.014 0c-0.123 0.006-0.268 0.009-0.414 0.009-1.73 0-3.347-0.482-4.725-1.319l0.040 0.023c-2.508-1.509-4.238-4.091-4.558-7.094l-0.004-0.041c-0.025-0.625-0.037-1.25-0.012-1.862 0.49-4.779 4.494-8.476 9.361-8.476 0.547 0 1.083 0.047 1.604 0.136l-0.056-0.008c0.025 1.849-0.050 3.699-0.050 5.548-0.423-0.153-0.911-0.242-1.42-0.242-1.868 0-3.457 1.194-4.045 2.861l-0.009 0.030c-0.133 0.427-0.21 0.918-0.21 1.426 0 0.206 0.013 0.41 0.037 0.61l-0.002-0.024c0.332 2.046 2.086 3.59 4.201 3.59 0.061 0 0.121-0.001 0.181-0.004l-0.009 0c1.463-0.044 2.733-0.831 3.451-1.994l0.010-0.018c0.267-0.372 0.45-0.822 0.511-1.311l0.001-0.014c0.125-2.237 0.075-4.461 0.087-6.698 0.012-5.036-0.012-10.060 0.025-15.083z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/nonnamaria_oficial/" class="text-brown hover:text-brown  ms-5">
                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zM12 0C8.741 0 8.333.014 7.053.072 2.695.272.273 2.69.073 7.052.014 8.333 0 8.741 0 12c0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98C8.333 23.986 8.741 24 12 24c3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98C15.668.014 15.259 0 12 0zm0 5.838a6.162 6.162 0 100 12.324 6.162 6.162 0 000-12.324zM12 16a4 4 0 110-8 4 4 0 010 8zm6.406-11.845a1.44 1.44 0 100 2.881 1.44 1.44 0 000-2.881z"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=61565708200757" class="text-brown hover:text-brown  ms-5">
                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M9.101 23.691v-7.98H6.627v-3.667h2.474v-1.58c0-4.085 1.848-5.978 5.858-5.978.401 0 .955.042 1.468.103a8.68 8.68 0 0 1 1.141.195v3.325a8.623 8.623 0 0 0-.653-.036 26.805 26.805 0 0 0-.733-.009c-.707 0-1.259.096-1.675.309a1.686 1.686 0 0 0-.679.622c-.258.42-.374.995-.374 1.752v1.297h3.919l-.386 2.103-.287 1.564h-3.246v8.245C19.396 23.238 24 18.179 24 12.044c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.628 3.874 10.35 9.101 11.647Z"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="lg:pr-10">
            <%= image_tag("nonna.svg", alt: "Nonna maria logo", class: "w-60") %>
        </div>
        <a href="https://smartmenu.agorapos.com/?id=8yhqy9t0#/">
            <button class="border border-brown text-brown bg-transparent hover:bg-brown hover:text-white px-4 py-2 rounded transition duration-200">
                Nuestras delicias
            </button>
        </a>
    </nav>
</header>
    <div class="content-section px-40px pt-40px lg:px-10px py-50px">
        <h1 class="lg: font-roca text-4xl mb-4 text-custom-green text-center">¿Cómo ha sido tu experiencia?</h1>
            <div class="feedback-form">
            <form action="/feedbacks" method="post"id="feedbackForm">
            <input type="hidden" name="authencity_token" value="<%= form_authenticity_token %>">
                    <div class="rating">
                        <input type="radio" id="star5" name="feedback[rating]" value="5" onclick="redirectToPage()">
                        <label for="star5">&#9733;</label>
                        <input type="radio" id="star4" name="feedback[rating]" value="4" onclick="showCommentSection()">
                        <label for="star4">&#9733;</label>
                        <input type="radio" id="star3" name="feedback[rating]" value="3" onclick="showCommentSection()" >
                        <label for="star3">&#9733;</label>
                        <input type="radio" id="star2" name="feedback[rating]" value="2" onclick="showCommentSection()" >
                        <label for="star2">&#9733;</label>
                        <input type="radio" id="star1" name="feedback[rating]" value="1" onclick="showCommentSection()" >
                        <label for="star1">&#9733;</label>
                    </div>
                    <div class="comment">
                        <div class="flex flex-col pb-10">
                            <input id="client_name" name="feedback[client_name]" placeholder="Nombre" class="input-box">
                            <input id="email_address" name="feedback[email_address]" placeholder="Email" class="input-box">
                        </div>
                        <div class="flex flex-col pb-10">
                            <textarea id="comment" name="feedback[comment]" placeholder="Por favor comentanos como fue tu experiencia."></textarea>
                            <span class="text-xs text-gray-500">Al hacer click para enviar: "Consiento el uso de mis datos para los fines mencionados en la  <%= link_to("POLÍTICA DE PRIVACIDAD", feedback_politica_path, class: "underline text-blue-600 hover:text-blue-800") %>" </span>
                            <button type="submit" class="submit-btn" onclick="redirectionToWeb()">Enviar</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>

    <section>
        <div class="pb-10 flex flex-col lg:flex-row">
            <%= image_tag("nonna.png", alt: "la nonna maria",  class: "lg:w-1/2 h-auto")%> 
            <div>
                <h1 class="lg: text-4xl font-roca font-extrabold mb-4 text-custom-green pt-5">PREPÁRATE PARA REFRESCARTEF</h1>
                <p class="lg:text-3xl p-4 text-justify text-gray-500 font-light">En la Gelateria Nonna Maria, cada sabor cuenta una historia. 
                Desde el gelato artesanal hasta los dulces y panes que prepara la 
                Nonna en su obrador, todo está hecho con dedicación y respeto por 
                la tradición. Ven a disfrutar de un rincón de Italia en Santa Cruz, 
                donde cada bocado te hará sentir como en casa.</p>
                <a href="https://smartmenu.agorapos.com/?id=8yhqy9t0#/">
                    <button class="border border-brown text-brown bg-transparent hover:bg-brown hover:text-white px-4 py-2 rounded transition duration-200">
                        Nuestras delicias
                    </button>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="relative w-full overflow-hidden">
            <div class="flex transition-transform duration-500 ease-in-out" id="carousel">
                <div class="min-w-full">
                    <%= image_tag("carousel_image.jpg", class: "w-full") %>
                </div>
                <div class="min-w-full">
                    <%= image_tag("carousel_image2.jpg", class: "w-full") %>
                </div>
                <div class="min-w-full">
                    <%= image_tag("carousel_image4.jpg", class: "w-full") %>
                </div>
                <div class="min-w-full">
                    <%= image_tag("carousel_image5.jpg", class: "w-full") %>
                </div>
            </div>
            <button class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-white p-2 rounded-full" onclick="prevSlide()">❮</button>
            <button class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-white p-2 rounded-full" onclick="nextSlide()">❯</button>
        </div>
        <h1 class="lg:text-4xl font-roca text-4xl font-extrabold mb-4 text-custom-green pt-5">ARTESANAL</h1>

        <script>
            let currentIndex = 0;

            function showSlide(index) {
                const slides = document.getElementById('carousel');
                const totalSlides = slides.children.length;
                if (index >= totalSlides) {
                    currentIndex = 0;
                } else if (index < 0) {
                    currentIndex = totalSlides - 1;
                } else {
                    currentIndex = index;
                }
                slides.style.transform = 'translateX(' + (-currentIndex * 100) + '%)';
            }

            function nextSlide() {
                showSlide(currentIndex + 1);
            }

            function prevSlide() {
                showSlide(currentIndex - 1);
            }
        </script>
        <p class="lg:text-3xl p-5 text-justify text-gray-500 font-light">Nonna Maria es una gelatería familiar que trae el auténtico sabor de Italia a Santa Cruz. Desde nuestro rincón en el residencial Anaga, ofrecemos una experiencia que va más allá del simple postre: aquí, cada producto es el resultado de un compromiso con la tradición.</p>
        <p class="lg:text-3xl p-5 text-justify text-gray-500 font-light">Nuestros gelatos son creados artesanalmente por nuestro maestro heladero, quien cuida cada receta para lograr sabores profundos y genuinos. En paralelo, la Nonna Maria elabora dulces, tartas y panes caseros que recuerdan las recetas de antaño, usando ingredientes de primera calidad traídos de Italia. 
        </p>
    </section>
</div>
