    <div class="content-section px-40px pt-40px lg:px-10px py-50px">
        <h1 class="lg: font-fredoka font-extrabold text-4xl mb-4 text-custom-green text-center">¿Cómo ha sido tu experiencia?</h1>
            <div class="feedback-form">
            <form action="/feedbacks" method="post"id="feedbackForm">
            <input type="hidden" name="authencity_token" value="<%= form_authenticity_token %>">
                    <div class="rating">
                        <input type="radio" id="star5" name="feedback[rating]" value="5" onclick="redirectToPage()">
                        <label for="star5">&#9733;</label>
                        <input type="radio" id="star4" name="feedback[rating]" value="4" onclick="showCommentSection()">
                        <label for="star4">&#9733;</label>
                        <input type="radio" id="star3" name="feedback[rating]" value="3" onclick="showCommentSection()" >
                        <label for="star3">&#9733;</label>
                        <input type="radio" id="star2" name="feedback[rating]" value="2" onclick="showCommentSection()" >
                        <label for="star2">&#9733;</label>
                        <input type="radio" id="star1" name="feedback[rating]" value="1" onclick="showCommentSection()" >
                        <label for="star1">&#9733;</label>
                    </div>
                    <div class="comment">
                        <div class="flex flex-col pb-10">
                            <input id="client_name" name="feedback[client_name]" placeholder="Nombre" class="input-box">
                            <input id="email_address" name="feedback[email_address]" placeholder="Email" class="input-box">
                        </div>
                        <div class="flex flex-col pb-10">
                            <textarea id="comment" name="feedback[comment]" placeholder="Por favor comentanos como fue tu experiencia."></textarea>
                            <span class="text-xs text-gray-500">Al hacer click para enviar: "Consiento el uso de mis datos para los fines mencionados en la  <%= link_to("POLÍTICA DE PRIVACIDAD", feedback_politica_path, class: "underline text-blue-600 hover:text-blue-800") %>" </span>
                            <button type="submit" class="submit-btn" onclick="redirectionToWeb()">Enviar</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>

    <section>
        <div class="pb-10 flex flex-col lg:flex-row">
            <%= image_tag("nonna.png", alt: "la nonna maria",  class: "lg:w-1/2 h-auto")%> 
            <div>
                <h1 class="lg: text-4xl font-fredoka font-extrabold mb-4 text-custom-green pt-5">Sabores que cuentan historias</h1>
                <p class="lg:text-3xl p-4 text-justify text-gray-500 font-light">En la Gelateria Nonna Maria, cada sabor cuenta una historia. 
                Desde el gelato artesanal hasta los dulces y panes que prepara la 
                Nonna en su obrador, todo está hecho con dedicación y respeto por 
                la tradición. Ven a disfrutar de un rincón de Italia en Santa Cruz, 
                donde cada bocado te hará sentir como en casa.</p>
                <a href="https://smartmenu.agorapos.com/?id=8yhqy9t0#/">
                    <button class="border border-brown text-brown bg-transparent hover:bg-brown hover:text-white px-4 py-2 rounded transition duration-200">
                        Nuestras delicias
                    </button>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="relative w-full overflow-hidden">
            <div class="flex transition-transform duration-500 ease-in-out" id="carousel">
                <div class="min-w-full">
                    <%= image_tag("carousel_image.jpg", class: "w-full") %>
                </div>
                <div class="min-w-full">
                    <%= image_tag("carousel_image2.jpg", class: "w-full") %>
                </div>
                <div class="min-w-full">
                    <%= image_tag("carousel_image4.jpg", class: "w-full") %>
                </div>
                <div class="min-w-full">
                    <%= image_tag("carousel_image5.jpg", class: "w-full") %>
                </div>
            </div>
            <button class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-white p-2 rounded-full" onclick="prevSlide()">❮</button>
            <button class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-white p-2 rounded-full" onclick="nextSlide()">❯</button>
        </div>
        <h1 class="lg:text-4xl font-fredoka text-4xl font-extrabold mb-4 text-custom-green pt-5">Tradición italiana en cada detalle</h1>

        <script>
            let currentIndex = 0;

            function showSlide(index) {
                const slides = document.getElementById('carousel');
                const totalSlides = slides.children.length;
                if (index >= totalSlides) {
                    currentIndex = 0;
                } else if (index < 0) {
                    currentIndex = totalSlides - 1;
                } else {
                    currentIndex = index;
                }
                slides.style.transform = 'translateX(' + (-currentIndex * 100) + '%)';
            }

            function nextSlide() {
                showSlide(currentIndex + 1);
            }

            function prevSlide() {
                showSlide(currentIndex - 1);
            }
        </script>
        <p class="lg:text-3xl p-5 text-justify text-gray-500 font-light">Nonna Maria es una gelatería familiar que trae el auténtico sabor de Italia a Santa Cruz. Desde nuestro rincón en el residencial Anaga, ofrecemos una experiencia que va más allá del simple postre: aquí, cada producto es el resultado de un compromiso con la tradición.</p>
        <p class="lg:text-3xl p-5 text-justify text-gray-500 font-light">Nuestros gelatos son creados artesanalmente por nuestro maestro heladero, quien cuida cada receta para lograr sabores profundos y genuinos. En paralelo, la Nonna Maria elabora dulces, tartas y panes caseros que recuerdan las recetas de antaño, usando ingredientes de primera calidad traídos de Italia. 
        </p>
    </section>
</div>
