<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gelateria Nonna Maria</title>
    <meta name="description" content="Valoramos tu opinión">
    
    <!-- Favicon -->
  <link rel="icon" href="<%= asset_path('favicon.svg') %>" type="image/x-icon">

  <!-- Open Graph Meta Tags for Facebook and WhatsApp -->
  <meta property="og:title" content="Gelateria Nonna Maria">
  <meta property="og:description" content="Valoramos tu opinión">
  <meta property="og:image" content="<%= asset_url('nonna.png') %>">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:type" content="website">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'feedback', 'data-turbolinks-track': 'reload', defer: "true" %>

  </head>

  <body>
    <main class="container mx-auto px-5 flex-col text-center">
    <%= render "layouts/header"%>
      <%= yield %>
    </main>
      <%= render "layouts/footer" %>
  </body>
</html>
