<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gelateria Nonna Maria</title>
    <meta name="description" content="En Gelateria Nonna Maria tu opinión nos ayuda a crecer">
    
    <!-- Favicon -->
    <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link rel="apple-touch-icon" href="<%= asset_path('nonna.png') %>"> <!-- Optional for Apple devices -->
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:image" content="<%= asset_path('nonna.svg') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'feedback', 'data-turbolinks-track': 'reload', defer: "true" %>

  </head>

  <body>
    <main class="container mx-auto px-5 flex-col">
      <%= yield %>
    </main>
      <%= render "layouts/footer" %>
  </body>
</html>
